<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>

    <header> <a href="/carbs" class="headers"> <i class="fas fa-tint"></i>Edit Log</a></header>

    <form action="/carbs/<%= carb._id %>?_method=PUT" method="POST">
        <fieldset>
            <label for="date">Date</label>
            <input type="date" name="date" , value="<%= carb.date %>"> <br>

            <label for="mealTime">Meal Time</label>
            <input type="time" name="mealTime" , value="<%= carb.mealTime %>"> <br>

            <label for="bloodSugar">Blood Sugar</label>
            <input type="text" name="bloodSugar" , value="<%= carb.bloodSugar %>"> <br>

            <label for="carbs">Carbs</label>
            <input type="text" name="carbs" , value="<%= carb.carbs %>"> <br>

            <label for="unitsTaken">Units Taken</label>
            <input type="text" name="unitsTaken" , value="<%= carb.unitsTaken %>"> <br>
        </fieldset>

        <button type="submit">Edit Log</button>
        <button type="submit" , action="/carbs/"> Return to Log</button>
    </form>

    <footer>
        <p>Copyright &copy; All Rights Reserved Diabetes Log 2020</p>
    </footer>

</body>

</html>