<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
    <title>Diabetes Log</title>
</head>
<body>
    <header><i class="fas fa-tint"></i>Diabetes Log</header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/carbs/new">Add Log</a></li>
        </ul>
    </nav>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Meal Time</th>
                <th>Blood Sugar</th>
                <th>Carbs</th>
                <th>Units Taken</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <% carbs.forEach(function(carb) { %>
            <tr>
                <td>
                    <%= carb.date.toDateString() %>
                </td>
                <td>
                    <%= carb.mealTime %>
                </td>
                <td>
                    <%= carb.bloodSugar %>
                </td>
                <td>
                    <%= carb.carbs %>
                </td>
                <td>
                    <%= carb.unitsTaken %>
                </td>
                <td>
                    <form action="/carbs/<%= carb._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
                <td>
                    <a href="/carbs/<%= carb._id %>/edit">EDIT</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table> <br>
    <a href="/carbs/new">Add Log</a>
    <footer>
        <p>Copyright &copy; All Rights Reserved Diabetes Log 2020</p>
    </footer>
</body>
</html>