<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Diabetes Log</title>
</head>
<body>
    <header>Diabetes Log</header>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Meal Time</th>
                <th>Blood Sugar</th>
                <th>Carbs</th>
                <th>Units Taken</th>
            </tr>
        </thead>
        <tbody>
            <% carbs.forEach(function(carb) { %>
            <tr>
                <td>
                    <%= carb.date %>
                </td>
                <td>
                    <%= carb.mealTime %>
                </td>
                <td>
                    <%= carb.bloodSugar %>
                </td>
                <td>
                    <%= carb.Carbs %>
                </td>
                <td>
                    <%= carb.unitsTaken %>
                </td>
                <td>
                    <form action="/carbs/<%= carb._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <a href="/carbs/<%= carb._id %>/edit">EDIT</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <a href="/carbs/new">Add Log</a>
</body>
</html>